.x-layout-accordion .section {
	border-bottom: 1px solid #ccc;
	padding: 0 1em;
	background: #fff;
}

.x-layout-accordion h3 a {
	display: block;
	font-weight: normal;
	padding: 1em 0;
}

.x-layout-accordion h3 a:hover {
	text-decoration: none;
}

.x-layout-accordion h3 + div {
	height: 0;
	overflow: hidden;
	-webkit-transition: height 0.3s ease-in;
}

.x-layout-accordion :target h3 a {
	text-decoration: none;
	font-weight: bold;
}

.x-layout-accordion :target h3 + div {
	height: 100px;
}

.x-layout-accordion .section.large:target h3 + div {
	overflow: auto;
}
